.btnShowPosts{
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px rgba(0,0,0,0.75);
    background-color: darkgreen;
    color: white;

}