.wrap {
    margin: 0 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    justify-items: center;
}

.postCard {
    border-radius: 1vw;
    border: 1px solid;
    justify-content: center;
    width: auto;
    padding: 2vw;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
    background-image: url('https://img.freepik.com/free-vector/minimalist-white-abstract-background_23-2148816315.jpg?ga=GA1.1.1676048053.1707253238&semt=ais_user');
    background-size: cover;
    transition: 1.5s;
}

.postCard:hover {
    background-image: url('https://img.freepik.com/free-photo/magic-abstract-soft-colors-shining-yellow-gradient-studio-background_1258-71555.jpg?ga=GA1.1.1676048053.1707253238&semt=ais_user');
}



