body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*=========================================================================================================================*/
a {
    text-decoration: none;
    margin-left: 2vw;
}

a.active {
    color: darkgreen;
    font-size: 1.5vw;
    font-weight: bold;
    text-shadow: 4px 4px 12px rgba(39, 220, 145, 0.37);
}

a:hover {
    font-size: 1.5vw;
    font-weight: bold;
    color: darkseagreen;
    cursor: pointer;

}
